extends layout

block content
  h1= title
  - let results = [{"tree_name":"Apple Tree","size":"45","age":"12"}, {"tree_name":"Mango Tree","size":"49","age":"25"}, {"tree_name":"Neem Tree","size":"67","age":"34"}];
  div(class="container-fluid")
    div(class="row")
      each tree in results
        div(class="col-sm-2") #{tree.tree_name} size:#{tree.size} age:#{tree.age}